<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem
            id="parc_auto"
            name="Parc Automobile"
            sequence="0"
        />
        <menuitem
            id="parc_auto_conf"
            name="Configuration"
            parent="parc_auto"
            sequence="1"
        />
        <menuitem
            id="parc_auto_voiture"
            name="Voiture"
            parent="parc_auto_conf"
            action="action_parc_automobile_voiture" 
            sequence="1"
        />
        <menuitem
            id="parc_auto_marque"
            name="Marque"
            parent="parc_auto_conf"
            action="action_parc_automobile_marque" 
            sequence="2"
        />
        <menuitem
            id="parc_auto_modele"
            name="Modèle"
            parent="parc_auto_conf"
            action="action_parc_automobile_modele" 
            sequence="3"
        />
        <menuitem
            id="parc_auto_client"
            name="Client"
            parent="parc_auto_conf"
            action="action_parc_automobile_client" 
            sequence="4"
        />
        <menuitem
            id="parc_auto_service"
            name="Service"
            parent="parc_auto_conf"
            action="action_parc_automobile_centre"
            sequence="5"
        />




        <menuitem
            id="parc_auto_param"
            name="Paramétrage"
            parent="parc_auto"
            sequence="2"
        />
        <menuitem
            id="parc_auto_assurance"
            name="Compagnie d'assurance"
            parent="parc_auto_param"
            action="action_parc_automobile_assurance" 
            sequence="1"
        />
        <menuitem
            id="parc_auto_carte_grise"
            name="Carte Grise"
            parent="parc_auto_param"
            action="action_parc_automobile_carte_grise" 
            sequence="2"
        />
        <menuitem
            id="parc_auto_contrat_location"
            name="Contrat de location"
            parent="parc_auto_param"
            action="action_parc_automobile_contrat_location" 
            sequence="3"
        />
        <menuitem
            id="parc_auto_employe"
            name="Employé"
            parent="parc_auto_param"
            action="action_parc_automobile_employe" 
            sequence="4"
        />
        <menuitem
            id="parc_auto_document"
            name="Documents"
            parent="parc_auto_param"
            action="action_parc_automobile_document" 
            sequence="6"
        />
        <menuitem
            id="parc_auto_entretien"
            name="Entretien Auto"
            parent="parc_auto_param"
            action="action_parc_automobile_entretien" 
            sequence="5"
        />




        <menuitem
            id="parc_auto_location"
            name="Location"
            parent="parc_auto"
            sequence="3"
        />
        <menuitem
            id="parc_auto_location_affectation"
            name="Affectation"
            parent="parc_auto_location"
            action="action_parc_automobile_affectation" 
            sequence="1"
        />
        <menuitem
            id="parc_auto_carburant"
            name="Carburant"
            parent="parc_auto_location"
            action="action_parc_automobile_carburant"
            sequence="2"
        />
        <menuitem 
            id="parc_auto_dashboard"
            name="Tableau de bord"
            parent="parc_auto_location"
            action="action_parc_automobile_dashboard"
            sequence="3"
        />

    </data>
</odoo>
